{% extends "base.html" %}
{% block body %} 
    {% if messages %}
        <div>
            <strong>Messages:</strong>
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% block content %} {% endblock %}
{% endblock %}


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex min-h-screen bg-gray-100 dark:bg-gray-900">
  
  {% if user.is_authenticated %}
    {% include 'sidebar.html' %}
  {% endif %}
  
  <div class="flex-1 overflow-auto p-8">
    {% block content %}{% endblock %}
  </div>
</body>
</html>