{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% load account socialaccount %}

{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock title %}

{% block content %}
    <div class="shadow-2xl rounded-lg p-4">
        <div class="container p-6">
            <h1 class="my-4 text-3xl font-extralight">Change Password</h1>
            <p class="font-sans font-light">
                <form action="{% url 'account_change_password' %}" method="POST" class="password_change">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="my-4 transition-all delay-150 duration-300 ease-in-out rounded-full place-self-center py-2 px-4 text-white font-semibold bg-blue-500 hover:-translate-y-0.5 hover:scale-110 hover:bg-indigo-500 duration-300 mx-2" type="submit" name="action" >
                        {% trans "Change Password" %}
                    </button>
                    <a class="font-normal text-indigo-500 text-sm hover:text-base duration-300" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </p>
        </div>   
    </div>
{% endblock content %}